{% extends "base.html" %}
{% block title %}{{ article.title }}{% endblock %}
{% block content %}
<div class="col-lg-9">
    <section id="content">
        <article>
            <header class="page-header">
                <h1>
                    <a href="{{ SITEURL }}/{{ article.url }}"
                       rel="bookmark"
                       title="Permalink to {{ article.title }}">
                        {{ article.title }}
                    </a>
                </h1>
            </header>
            <div class="entry-content">
                {{ article.content }}
                <hr>
                <div class="panel">
                    <div class="panel-body">
                        {% include "includes/article_info.html" %}
                    </div>
                </div>
            </div>
            <!-- /.entry-content -->
            <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="IFCACluster">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
            {% include 'includes/comments.html' %}
        </article>
    </section>
</div>
<div class="col-lg-3 well well-sm" id="sidebar">
    {% include 'includes/sidebar.html' %}
</div>

{% endblock %}
