<div class="footer">

<div class="nav navbar-nav">
    <p>Contact: <a href="mailto: grid.admin_AT_ifca.unican.es">grid.admin _AT_ ifca.unican.es</a>
    </p>
    <p>Advanced Computing and e-Science Group<br />
    Instituto de Física de Cantabria<br />
    Edificio Juan Jordá<br />
    Avenida de los Castros, s/n<br />
    E-39005 Santander<br />
    Cantabria, Spain</p>
</div>

<div class="nav navbar-nav navbar-right">
    El Instituto de Física de Cantabria es un Centro Mixto<br />
    del Consejo Superior de Investigaciones Científicas y de 
    <br/ >la Universidad de Cantabria.
</div>
</div>
